In [1]:
import os
from datetime import datetime
import pandas_datareader.data as web

    The pandas datareader is a wrapper to fetch data from various sources. So in order to download the data, you don't need to download and install plugin for each and every data source.

    These are the following data sources for which pandas-datareader is useful :- 
    
    1. Tiingo - API Required

    2. IEX - API Required

    3. Alpha Vantage - API Required

    4. Econdb - API NOT Required

    5. Enigma - API Required

    6. Quandl - API Required

    7. St.Louis FED (FRED) - API NOT Required

    8. Kenneth Frenchâ€™s data library - API NOT Required

    9. World Bank - API NOT Required

    10. OECD - API NOT Required

    11. Eurostat - API NOT Required

    12. Thrift Savings Plan - API NOT Required

    13. Nasdaq Trader symbol definitions - API NOT Required

    14. Stooq - API NOT Required

    15. MOEX - API NOT Required

    16. Naver Finance - API NOT Required

    17. Yahoo Finance - API NOT Required

## Econdb

    Econdb provides economic data from 90+ official statistical agencies. Free API allows access to the complete Econdb database of time series aggregated into datasets.

In [35]:
import pandas_datareader.data as web
df = web.DataReader(
    '&'.join([
        'dataset=IMF_CPI', 
        'h=Geopolitical entity (reporting)', 
        'v=TIME', 
        'from=2021-10-01', 
        'to=2022-04-01'
    ]),
    'econdb'
)

In [37]:
df.shape

(6, 233)

In [38]:
df

Frequency                            Quarterly  \
Reference Area                         Albania
Indicator      Consumer Price Index, All items
Scale                                    Units
TIME_PERIOD
2021-10-01                               103.1
2021-11-01                                 NaN
2021-12-01                                 NaN
2022-01-01                               106.8
2022-02-01                                 NaN
2022-03-01                                 NaN

Frequency                                        \
Reference Area
Indicator      Food and non-alcoholic beverages
Scale                                     Units
TIME_PERIOD
2021-10-01                                105.1
2021-11-01                                  NaN
2021-12-01                                  NaN
2022-01-01                                113.7
2022-02-01                                  NaN
2022-03-01                                  NaN

Frequency                                                   \
Reference Area
Indicator      Alcoholic Beverages, Tobacco, and Narcotics
Scale                                                Units
TIME_PERIOD
2021-10-01                                           101.7
2021-11-01                                             NaN
2021-12-01                                             NaN
2022-01-01                                           104.2
2022-02-01                                             NaN
2022-03-01                                             NaN

Frequency                             \
Reference Area
Indicator      Clothing and footwear
Scale                          Units
TIME_PERIOD
2021-10-01                     101.6
2021-11-01                       NaN
2021-12-01                       NaN
2022-01-01                     101.2
2022-02-01                       NaN
2022-03-01                       NaN

Frequency                                                        \
Reference Area
Indicator      Housing, Water, Electricity, Gas and Other Fuels
Scale                                                     Units
TIME_PERIOD
2021-10-01                                                101.6
2021-11-01                                                  NaN
2021-12-01                                                  NaN
2022-01-01                                                102.2
2022-02-01                                                  NaN
2022-03-01                                                  NaN

Frequency                                                                          \
Reference Area
Indicator      Furnishings, household equipment and routine household maintenance
Scale                                                                       Units
TIME_PERIOD
2021-10-01                                                  100.9
2021-11-01                                                    NaN
2021-12-01                                                    NaN
2022-01-01                                                  101.9
2022-02-01                                                    NaN
2022-03-01                                                    NaN

Frequency                                                             ...  \
Reference Area                                                        ...
Indicator      Health Transport Communication Recreation and culture  ...
Scale           Units     Units         Units                  Units  ...
TIME_PERIOD                                                           ...
2021-10-01      100.8     108.2         103.2                  103.6  ...
2021-11-01        NaN       NaN           NaN                    NaN  ...
2021-12-01        NaN       NaN           NaN                    NaN  ...
2022-01-01      100.9     113.9         103.3                  103.4  ...
2022-02-01        NaN       NaN           NaN                    NaN  ...
2022-03-01        NaN       NaN           NaN                    NaN  ...

Frequency        Monthly                                                 \
Reference Area   Algeria
Indicator      Transport Communication Recreation and culture Education
Scale              Units         Units                  Units     Units
TIME_PERIOD
2021-10-01         221.9           NaN                  192.6       NaN
2021-11-01         221.9           NaN                  192.6       NaN
2021-12-01         222.4           NaN                  192.7       NaN
2022-01-01         222.4           NaN                  193.5       NaN
2022-02-01         222.4           NaN                  193.7       NaN
2022-03-01           NaN           NaN                    NaN       NaN

Frequency                                                               \
Reference Area
Indicator      Restaurants and hotels Miscellaneous goods and services
Scale                           Units                            Units
TIME_PERIOD
2021-10-01                        NaN                            338.1
2021-11-01                        NaN                            347.2
2021-12-01                        NaN                            347.9
2022-01-01                        NaN                            353.8
2022-02-01                        NaN                            356.1
2022-03-01                        NaN                              NaN

Frequency                                                \
Reference Area
Indicator      Food and non-alcoholic beverages, Weight
Scale                                             Units
TIME_PERIOD
2021-10-01                                        430.9
2021-11-01                                        430.9
2021-12-01                                        430.9
2022-01-01                                        430.9
2022-02-01                                        430.9
2022-03-01                                          NaN

Frequency                                     \
Reference Area
Indicator      Clothing and footwear, Weight
Scale                                  Units
TIME_PERIOD
2021-10-01                              74.5
2021-11-01                              74.5
2021-12-01                              74.5
2022-01-01                              74.5
2022-02-01                              74.5
2022-03-01                               NaN

Frequency                                                                \
Reference Area
Indicator      Housing, Water, Electricity, Gas and Other Fuels, Weight
Scale                                                             Units
TIME_PERIOD
2021-10-01                                                   92.9
2021-11-01                                                   92.9
2021-12-01                                                   92.9
2022-01-01                                                   92.9
2022-02-01                                                   92.9
2022-03-01                                                    NaN

Frequency
Reference Area
Indicator      Furnishings, household equipment and routine household maintenance, Weight
Scale                                                                               Units
TIME_PERIOD
2021-10-01                                                   49.6
2021-11-01                                                   49.6
2021-12-01                                                   49.6
2022-01-01                                                   49.6
2022-02-01                                                   49.6
2022-03-01                                                    NaN

[6 rows x 233 columns]

In [34]:
f = web.DataReader('ticker=RGDPUS', 'econdb')
f.head()

TableName                                                                                                                                T10106
SeriesCode                                                                                                                               A191RX
Table                                                                         Table 1.1.6. Real Gross Domestic Product, Chained Dollars (A) (Q)
Series description                                                                                                       Gross domestic product
CL_UNIT                                                                                                                                   Level
CL_FREQ                                                                                                                                       Q
Note               Table 1.1.6. Real Gross Domestic Product, Chained Dollars [Billions of chained (2012) dollars] - LastRevised: April 28, 2022
None                                                                                                                                       None
TIME_PERIOD
2017-07-01                                                   18126226
2017-10-01                                                   18296684
2018-01-01                                                   18436262
2018-04-01                                                   18590004
2018-07-01                                                   18679600

## Fred Dataset

    All economic data for US from 1991 consisting of treasury, gdp, cpi and many more data sources

In [40]:
start = datetime(2010, 1, 1)
end = datetime(2013, 1, 27)

In [41]:
gdp = web.DataReader('GDP', 'fred', start, end)

In [43]:
gdp.head()

                  GDP
DATE
2010-01-01  14764.611
2010-04-01  14980.193
2010-07-01  15141.605
2010-10-01  15309.471
2011-01-01  15351.444

## Fama French

    Kenneth Frenchâ€™s data library

In [2]:
from pandas_datareader.famafrench import get_available_datasets

In [3]:
get_available_datasets()

['F-F_Research_Data_Factors',
 'F-F_Research_Data_Factors_weekly',
 'F-F_Research_Data_Factors_daily',
 'F-F_Research_Data_5_Factors_2x3',
 'F-F_Research_Data_5_Factors_2x3_daily',
 'Portfolios_Formed_on_ME',
 'Portfolios_Formed_on_ME_Wout_Div',
 'Portfolios_Formed_on_ME_Daily',
 'Portfolios_Formed_on_BE-ME',
 'Portfolios_Formed_on_BE-ME_Wout_Div',
 'Portfolios_Formed_on_BE-ME_Daily',
 'Portfolios_Formed_on_OP',
 'Portfolios_Formed_on_OP_Wout_Div',
 'Portfolios_Formed_on_OP_Daily',
 'Portfolios_Formed_on_INV',
 'Portfolios_Formed_on_INV_Wout_Div',
 'Portfolios_Formed_on_INV_Daily',
 '6_Portfolios_2x3',
 '6_Portfolios_2x3_Wout_Div',
 '6_Portfolios_2x3_weekly',
 '6_Portfolios_2x3_daily',
 '25_Portfolios_5x5',
 '25_Portfolios_5x5_Wout_Div',
 '25_Portfolios_5x5_Daily',
 '100_Portfolios_10x10',
 '100_Portfolios_10x10_Wout_Div',
 '100_Portfolios_10x10_Daily',
 '6_Portfolios_ME_OP_2x3',
 '6_Portfolios_ME_OP_2x3_Wout_Div',
 '6_Portfolios_ME_OP_2x3_daily',
 '25_Portfolios_ME_OP_5x5',
 '25_Portfolios_ME_OP_5x5_Wout_Div',
 '25_Portfolios_ME_OP_5x5_daily',
 '100_Portfolios_ME_OP_10x10',
 '100_Portfolios_10x10_ME_OP_Wout_Div',
 '100_Portfolios_ME_OP_10x10_daily',
 '6_Portfolios_ME_INV_2x3',
 '6_Portfolios_ME_INV_2x3_Wout_Div',
 '6_Portfolios_ME_INV_2x3_daily',
 '25_Portfolios_ME_INV_5x5',
 '25_Portfolios_ME_INV_5x5_Wout_Div',
 '25_Portfolios_ME_INV_5x5_daily',
 '100_Portfolios_ME_INV_10x10',
 '100_Portfolios_10x10_ME_INV_Wout_Div',
 '100_Portfolios_ME_INV_10x10_daily',
 '25_Portfolios_BEME_OP_5x5',
 '25_Portfolios_BEME_OP_5x5_Wout_Div',
 '25_Portfolios_BEME_OP_5x5_daily',
 '25_Portfolios_BEME_INV_5x5',
 '25_Portfolios_BEME_INV_5x5_Wout_Div',
 '25_Portfolios_BEME_INV_5x5_daily',
 '25_Portfolios_OP_INV_5x5',
 '25_Portfolios_OP_INV_5x5_Wout_Div',
 '25_Portfolios_OP_INV_5x5_daily',
 '32_Portfolios_ME_BEME_OP_2x4x4',
 '32_Portfolios_ME_BEME_OP_2x4x4_Wout_Div',
 '32_Portfolios_ME_BEME_INV_2x4x4',
 '32_Portfolios_ME_BEME_INV_2x4x4_Wout_Div',
 '32_Portfolios_ME_OP_INV_2x4x4',
 '32_Portfolios_ME_OP_INV_2x4x4_Wout_Div',
 'Portfolios_Formed_on_E-P',
 'Portfolios_Formed_on_E-P_Wout_Div',
 'Portfolios_Formed_on_CF-P',
 'Portfolios_Formed_on_CF-P_Wout_Div',
 'Portfolios_Formed_on_D-P',
 'Portfolios_Formed_on_D-P_Wout_Div',
 '6_Portfolios_ME_EP_2x3',
 '6_Portfolios_ME_EP_2x3_Wout_Div',
 '6_Portfolios_ME_CFP_2x3',
 '6_Portfolios_ME_CFP_2x3_Wout_Div',
 '6_Portfolios_ME_DP_2x3',
 '6_Portfolios_ME_DP_2x3_Wout_Div',
 'F-F_Momentum_Factor',
 'F-F_Momentum_Factor_daily',
 '6_Portfolios_ME_Prior_12_2',
 '6_Portfolios_ME_Prior_12_2_Daily',
 '25_Portfolios_ME_Prior_12_2',
 '25_Portfolios_ME_Prior_12_2_Daily',
 '10_Portfolios_Prior_12_2',
 '10_Portfolios_Prior_12_2_Daily',
 'F-F_ST_Reversal_Factor',
 'F-F_ST_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_1_0',
 '6_Portfolios_ME_Prior_1_0_Daily',
 '25_Portfolios_ME_Prior_1_0',
 '25_Portfolios_ME_Prior_1_0_Daily',
 '10_Portfolios_Prior_1_0',
 '10_Portfolios_Prior_1_0_Daily',
 'F-F_LT_Reversal_Factor',
 'F-F_LT_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_60_13',
 '6_Portfolios_ME_Prior_60_13_Daily',
 '25_Portfolios_ME_Prior_60_13',
 '25_Portfolios_ME_Prior_60_13_Daily',
 '10_Portfolios_Prior_60_13',
 '10_Portfolios_Prior_60_13_Daily',
 'Portfolios_Formed_on_AC',
 '25_Portfolios_ME_AC_5x5',
 'Portfolios_Formed_on_BETA',
 '25_Portfolios_ME_BETA_5x5',
 'Portfolios_Formed_on_NI',
 '25_Portfolios_ME_NI_5x5',
 'Portfolios_Formed_on_VAR',
 '25_Portfolios_ME_VAR_5x5',
 'Portfolios_Formed_on_RESVAR',
 '25_Portfolios_ME_RESVAR_5x5',
 '5_Industry_Portfolios',
 '5_Industry_Portfolios_Wout_Div',
 '5_Industry_Portfolios_daily',
 '10_Industry_Portfolios',
 '10_Industry_Portfolios_Wout_Div',
 '10_Industry_Portfolios_daily',
 '12_Industry_Portfolios',
 '12_Industry_Portfolios_Wout_Div',
 '12_Industry_Portfolios_daily',
 '17_Industry_Portfolios',
 '17_Industry_Portfolios_Wout_Div',
 '17_Industry_Portfolios_daily',
 '30_Industry_Portfolios',
 '30_Industry_Portfolios_Wout_Div',
 '30_Industry_Portfolios_daily',
 '38_Industry_Portfolios',
 '38_Industry_Portfolios_Wout_Div',
 '38_Industry_Portfolios_daily',
 '48_Industry_Portfolios',
 '48_Industry_Portfolios_Wout_Div',
 '48_Industry_Portfolios_daily',
 '49_Industry_Portfolios',
 '49_Industry_Portfolios_Wout_Div',
 '49_Industry_Portfolios_daily',
 'ME_Breakpoints',
 'BE-ME_Breakpoints',
 'OP_Breakpoints',
 'INV_Breakpoints',
 'E-P_Breakpoints',
 'CF-P_Breakpoints',
 'D-P_Breakpoints',
 'Prior_2-12_Breakpoints',
 'Developed_3_Factors',
 'Developed_3_Factors_Daily',
 'Developed_ex_US_3_Factors',
 'Developed_ex_US_3_Factors_Daily',
 'Europe_3_Factors',
 'Europe_3_Factors_Daily',
 'Japan_3_Factors',
 'Japan_3_Factors_Daily',
 'Asia_Pacific_ex_Japan_3_Factors',
 'Asia_Pacific_ex_Japan_3_Factors_Daily',
 'North_America_3_Factors',
 'North_America_3_Factors_Daily',
 'Developed_5_Factors',
 'Developed_5_Factors_Daily',
 'Developed_ex_US_5_Factors',
 'Developed_ex_US_5_Factors_Daily',
 'Europe_5_Factors',
 'Europe_5_Factors_Daily',
 'Japan_5_Factors',
 'Japan_5_Factors_Daily',
 'Asia_Pacific_ex_Japan_5_Factors',
 'Asia_Pacific_ex_Japan_5_Factors_Daily',
 'North_America_5_Factors',
 'North_America_5_Factors_Daily',
 'Developed_Mom_Factor',
 'Developed_Mom_Factor_Daily',
 'Developed_ex_US_Mom_Factor',
 'Developed_ex_US_Mom_Factor_Daily',
 'Europe_Mom_Factor',
 'Europe_Mom_Factor_Daily',
 'Japan_Mom_Factor',
 'Japan_Mom_Factor_Daily',
 'Asia_Pacific_ex_Japan_MOM_Factor',
 'Asia_Pacific_ex_Japan_MOM_Factor_Daily',
 'North_America_Mom_Factor',
 'North_America_Mom_Factor_Daily',
 'Developed_6_Portfolios_ME_BE-ME',
 'Developed_6_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_6_Portfolios_ME_BE-ME',
 'Developed_ex_US_6_Portfolios_ME_BE-ME_daily',
 'Europe_6_Portfolios_ME_BE-ME',
 'Europe_6_Portfolios_ME_BE-ME_daily',
 'Japan_6_Portfolios_ME_BE-ME',
 'Japan_6_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME_daily',
 'North_America_6_Portfolios_ME_BE-ME',
 'North_America_6_Portfolios_ME_BE-ME_daily',
 'Developed_25_Portfolios_ME_BE-ME',
 'Developed_25_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_25_Portfolios_ME_BE-ME',
 'Developed_ex_US_25_Portfolios_ME_BE-ME_daily',
 'Europe_25_Portfolios_ME_BE-ME',
 'Europe_25_Portfolios_ME_BE-ME_daily',
 'Japan_25_Portfolios_ME_BE-ME',
 'Japan_25_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME_daily',
 'North_America_25_Portfolios_ME_BE-ME',
 'North_America_25_Portfolios_ME_BE-ME_daily',
 'Developed_6_Portfolios_ME_OP',
 'Developed_6_Portfolios_ME_OP_Daily',
 'Developed_ex_US_6_Portfolios_ME_OP',
 'Developed_ex_US_6_Portfolios_ME_OP_Daily',
 'Europe_6_Portfolios_ME_OP',
 'Europe_6_Portfolios_ME_OP_Daily',
 'Japan_6_Portfolios_ME_OP',
 'Japan_6_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP_Daily',
 'North_America_6_Portfolios_ME_OP',
 'North_America_6_Portfolios_ME_OP_Daily',
 'Developed_25_Portfolios_ME_OP',
 'Developed_25_Portfolios_ME_OP_Daily',
 'Developed_ex_US_25_Portfolios_ME_OP',
 'Developed_ex_US_25_Portfolios_ME_OP_Daily',
 'Europe_25_Portfolios_ME_OP',
 'Europe_25_Portfolios_ME_OP_Daily',
 'Japan_25_Portfolios_ME_OP',
 'Japan_25_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP_Daily',
 'North_America_25_Portfolios_ME_OP',
 'North_America_25_Portfolios_ME_OP_Daily',
 'Developed_6_Portfolios_ME_INV',
 'Developed_6_Portfolios_ME_INV_Daily',
 'Developed_ex_US_6_Portfolios_ME_INV',
 'Developed_ex_US_6_Portfolios_ME_INV_Daily',
 'Europe_6_Portfolios_ME_INV',
 'Europe_6_Portfolios_ME_INV_Daily',
 'Japan_6_Portfolios_ME_INV',
 'Japan_6_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV_Daily',
 'North_America_6_Portfolios_ME_INV',
 'North_America_6_Portfolios_ME_INV_Daily',
 'Developed_25_Portfolios_ME_INV',
 'Developed_25_Portfolios_ME_INV_Daily',
 'Developed_ex_US_25_Portfolios_ME_INV',
 'Developed_ex_US_25_Portfolios_ME_INV_Daily',
 'Europe_25_Portfolios_ME_INV',
 'Europe_25_Portfolios_ME_INV_Daily',
 'Japan_25_Portfolios_ME_INV',
 'Japan_25_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV_Daily',
 'North_America_25_Portfolios_ME_INV',
 'North_America_25_Portfolios_ME_INV_Daily',
 'Developed_6_Portfolios_ME_Prior_12_2',
 'Developed_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_6_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_6_Portfolios_ME_Prior_250_20_daily',
 'Europe_6_Portfolios_ME_Prior_12_2',
 'Europe_6_Portfolios_ME_Prior_250_20_daily',
 'Japan_6_Portfolios_ME_Prior_12_2',
 'Japan_6_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_250_20_daily',
 'North_America_6_Portfolios_ME_Prior_12_2',
 'North_America_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_25_Portfolios_ME_Prior_12_2',
 'Developed_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_25_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_25_Portfolios_ME_Prior_250_20_daily',
 'Europe_25_Portfolios_ME_Prior_12_2',
 'Europe_25_Portfolios_ME_Prior_250_20_daily',
 'Japan_25_Portfolios_ME_Prior_12_2',
 'Japan_25_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_250_20_daily',
 'North_America_25_Portfolios_ME_Prior_12_2',
 'North_America_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Europe_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'North_America_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Emerging_5_Factors',
 'Emerging_MOM_Factor',
 'Emerging_Markets_6_Portfolios_ME_BE-ME',
 'Emerging_Markets_6_Portfolios_ME_OP',
 'Emerging_Markets_6_Portfolios_ME_INV',
 'Emerging_Markets_6_Portfolios_ME_Prior_12_2',
 'Emerging_Markets_4_Portfolios_BE-ME_OP',
 'Emerging_Markets_4_Portfolios_OP_INV',
 'Emerging_Markets_4_Portfolios_BE-ME_INV']

In [4]:
ds = web.DataReader('5_Industry_Portfolios', 'famafrench')

In [7]:
ds[0].head()

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2017-05   2.02   0.35   3.12  -0.25  -0.45
2017-06  -1.20   0.32  -2.12   5.54   4.22
2017-07  -0.08   2.31   4.02   0.70   1.49
2017-08  -1.56  -0.73   2.01   2.58  -0.38
2017-09   1.69   4.61   0.23   2.05   4.36

In [10]:
print(ds['DESCR'])

5 Industry Portfolios
---------------------

This file was created by CMPT_IND_RETS using the 202203 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2022 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (59 rows x 5 cols)
  1 : Average Equal Weighted Returns -- Monthly (59 rows x 5 cols)
  2 : Average Value Weighted Returns -- Annual (5 rows x 5 cols)
  3 : Average Equal Weighted Returns -- Annual (5 rows x 5 cols)
  4 : Number of Firms in Portfolios (59 rows x 5 cols)
  5 : Average Firm Size (59 rows x 5 cols)
  6 : Sum of BE / Sum of ME (5 rows x 5 cols)
  7 : Value-Weighted Average of BE/ME (5 rows x 5 cols)

## World Bank

In [11]:
from pandas_datareader import wb

In [64]:
matches = wb.search('gdp.*capita.*const')

In [65]:
matches

,id,name,unit,source,sourceNote,sourceOrganization,topics
716,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
10389,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10391,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10393,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
10394,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [66]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=2005, end=2008)

In [67]:
dat

                    NY.GDP.PCAP.KD
country       year
Canada        2008    42063.633052
              2007    42097.435120
              2006    39776.179473
              2005    38573.199765
Mexico        2008     9181.399967
              2007     9214.353534
              2006     9142.804774
              2005     8877.851291
United States 2008    53688.365135
              2007    54272.719553
              2006    53782.297288
              2005    52796.089816

## OECD

In [16]:
import pandas_datareader.data as web

In [17]:
df = web.DataReader('TUD', 'oecd')

In [18]:
df

Country,Australia,Austria,Belgium,Canada,Czech Republic,Denmark,Finland,France,Germany,Greece,...,United States,OECD - Total,Chile,Colombia,Costa Rica,Estonia,Israel,Latvia,Lithuania,Slovenia
Frequency,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,...,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual
Measure,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,...,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees,Percentage of employees
Time,,,,,,,,,,,,,,,,,,,,,
2018-01-01,NaN,26.700001,50.700001,26.299999,11.7,66.699997,62.900002,NaN,16.700001,NaN,...,10.3,16.0,17.0,9.5,19.299999,4.7,25.0,12.3,7.7,NaN
2019-01-01,NaN,26.299999,49.099998,26.100000,NaN,67.000000,58.799999,NaN,16.299999,NaN,...,9.9,15.8,NaN,NaN,20.500000,6.0,NaN,NaN,7.4,NaN
2020-01-01,NaN,NaN,NaN,27.200001,NaN,NaN,NaN,NaN,NaN,NaN,...,10.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eurostat

In [19]:
df = web.DataReader('tran_sf_railac', 'eurostat')

In [20]:
df

UNIT                                                                                      Number  \
ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2018-01-01                                                 4.0
2019-01-01                                                 1.0
2020-01-01                                                 2.0

UNIT                                                             \
ACCIDENT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czechia
FREQ         Annual   Annual      Annual         Annual  Annual
TIME_PERIOD
2018-01-01      0.0      1.0         3.0            0.0     6.0
2019-01-01      2.0      4.0         4.0            0.0     7.0
2020-01-01      1.0      1.0         4.0            0.0    11.0

UNIT                                                                          \
ACCIDENT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2018-01-01                                              40.0     1.0     0.0
2019-01-01                                              33.0     2.0     0.0
2020-01-01                                              40.0     3.0     0.0

UNIT                ...                                                    \
ACCIDENT            ...     Unknown
GEO         Greece  ... Netherlands Norway Poland Portugal Romania Sweden
FREQ        Annual  ...      Annual Annual Annual   Annual  Annual Annual
TIME_PERIOD         ...
2018-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2019-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2020-01-01     0.0  ...         NaN    NaN    NaN      NaN     NaN    NaN

UNIT
ACCIDENT
GEO         Slovenia Slovakia Turkey United Kingdom
FREQ          Annual   Annual Annual         Annual
TIME_PERIOD
2018-01-01       NaN      NaN    0.0            NaN
2019-01-01       NaN      NaN    NaN            NaN
2020-01-01       NaN      NaN    0.0            NaN

[3 rows x 264 columns]

## Thrift Savings Plan (TSP) Fund Data

In [21]:
import pandas_datareader.tsp as tsp

In [22]:
tspreader = tsp.TSPReader(start='2015-10-1', end='2015-12-31')

In [23]:
tspreader.read()

,L Income,L 2025,L 2030,L 2035,L 2040,L 2045,L 2050,L 2055,L 2060,L 2065,G Fund,F Fund,C Fund,S Fund,I Fund
Date,,,,,,,,,,,,,,,
2015-12-31,17.7733,NaN,25.0635,NaN,26.5715,NaN,15.0263,NaN,NaN,NaN,14.9154,16.9549,27.5622,35.2356,24.0952
2015-12-30,17.8066,NaN,25.2267,NaN,26.7707,NaN,15.1556,NaN,NaN,NaN,14.9146,16.9249,27.8239,35.5126,24.4184
2015-12-29,17.8270,NaN,25.3226,NaN,26.8905,NaN,15.2319,NaN,NaN,NaN,14.9137,16.9150,28.0236,35.8047,24.4757
2015-12-28,17.7950,NaN,25.1691,NaN,26.7015,NaN,15.1101,NaN,NaN,NaN,14.9128,16.9799,27.7230,35.4625,24.2816
2015-12-24,17.7991,NaN,25.2052,NaN,26.7481,NaN,15.1407,NaN,NaN,NaN,14.9093,16.9596,27.7831,35.6084,24.3272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-07,17.6639,NaN,24.8629,NaN,26.3598,NaN,14.9063,NaN,NaN,NaN,14.8429,17.0725,26.7751,35.6035,24.3671
2015-10-06,17.6338,NaN,24.7268,NaN,26.1898,NaN,14.7979,NaN,NaN,NaN,14.8421,17.0790,26.5513,35.1320,24.2294
2015-10-05,17.6395,NaN,24.7571,NaN,26.2306,NaN,14.8233,NaN,NaN,NaN,14.8413,17.0531,26.6467,35.3565,24.1475
2015-10-02,17.5707,NaN,24.4472,NaN,25.8518,NaN,14.5805,NaN,NaN,NaN,14.8388,17.0924,26.1669,34.6504,23.6367
2015-10-01,17.5164,NaN,24.2159,NaN,25.5690,NaN,14.4009,NaN,NaN,NaN,14.8380,17.0467,25.7953,34.0993,23.3202

## Nasdaq Trader Symbol

In [24]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols

In [25]:
symbols = get_nasdaq_symbols()

In [27]:
symbols.loc['IBM']

Nasdaq Traded                                                    True
Security Name       International Business Machines Corporation Co...
Listing Exchange                                                    N
Market Category
ETF                                                             False
Round Lot Size                                                  100.0
Test Issue                                                      False
Financial Status                                                  NaN
CQS Symbol                                                        IBM
NASDAQ Symbol                                                     IBM
NextShares                                                      False
Name: IBM, dtype: object

## Stooq Index Data

In [28]:
f = web.DataReader('^DJI', 'stooq')

In [29]:
f

                Open      High       Low     Close     Volume
Date
2022-05-13  31963.86  32276.05  31862.79  32196.66  430068818
2022-05-12  31699.04  31914.46  31228.22  31730.30  596967045
2022-05-11  32123.24  32584.02  31798.86  31834.11  521732651
2022-05-10  32504.09  32752.17  31887.89  32160.74  493371858
2022-05-09  32685.17  32685.17  32121.98  32245.70  535207901
...              ...       ...       ...       ...        ...
2017-05-23  20908.67  20961.14  20896.22  20937.91  244875752
2017-05-22  20867.77  20914.26  20860.16  20894.83  276193710
2017-05-19  20698.28  20857.13  20687.94  20804.84  365125107
2017-05-18  20579.65  20759.20  20553.45  20663.02  422531600
2017-05-17  20846.17  20846.17  20601.08  20606.93  423293682

[1258 rows x 5 columns]

## MOEX Data

In [30]:
import pandas_datareader as pdr

In [31]:
f = pdr.get_data_moex(['USD000UTSTOM', 'MAGN'], '2020-07-02', '2020-07-07')

In [32]:
f

,ADMITTEDQUOTE,ADMITTEDVALUE,BEICLOSE,BID,BOARDID,BOARDNAME,BUYBACKDATE,CBRCLOSE,CLOSE,CLOSEAUCTIONPRICE,...,TRENDWAP,TRENDWAPPR,TYPE,VALUE,VOLRUR,VOLUME,WAPRICE,WAVAL,YIELDLASTCOUPON,YIELDTOOFFER
TRADEDATE,,,,,,,,,,,,,,,,,,,,,
2020-07-02,NaN,NaN,NaN,NaN,CETS,NaN,NaN,NaN,70.5525,NaN,...,NaN,NaN,NaN,NaN,1.760773e+11,NaN,70.4005,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,CETS,NaN,NaN,NaN,71.3700,NaN,...,NaN,NaN,NaN,NaN,1.875195e+11,NaN,71.1049,NaN,NaN,NaN
2020-07-06,NaN,NaN,NaN,NaN,CETS,NaN,NaN,NaN,71.8275,NaN,...,NaN,NaN,NaN,NaN,2.189660e+11,NaN,71.6675,NaN,NaN,NaN
2020-07-07,NaN,NaN,NaN,NaN,CETS,NaN,NaN,NaN,71.4725,NaN,...,NaN,NaN,NaN,NaN,1.942452e+11,NaN,71.7912,NaN,NaN,NaN
2020-07-02,37.605,670695507.0,NaN,NaN,TQBR,NaN,NaN,NaN,37.6050,NaN,...,NaN,NaN,NaN,670695507.0,NaN,17876400.0,37.5150,0.0,NaN,NaN
2020-07-03,37.950,517431999.5,NaN,NaN,TQBR,NaN,NaN,NaN,37.9500,NaN,...,NaN,NaN,NaN,517431999.5,NaN,13648900.0,37.9100,0.0,NaN,NaN
2020-07-06,38.560,640380631.5,NaN,NaN,TQBR,NaN,NaN,NaN,38.5600,NaN,...,NaN,NaN,NaN,640380631.5,NaN,16565100.0,38.6600,0.0,NaN,NaN
2020-07-07,38.140,781482393.5,NaN,NaN,TQBR,NaN,NaN,NaN,38.1400,NaN,...,NaN,NaN,NaN,781482393.5,NaN,20373700.0,38.3550,0.0,NaN,NaN

## Naver Finance Data

In [33]:
df = web.DataReader('005930', 'naver', start='2019-09-10', end='2019-10-09')

In [34]:
df

             Open   High    Low  Close    Volume
Date
2019-09-10  47100  47200  46550  47000   9231792
2019-09-11  47300  47400  46800  47150  16141619
2019-09-16  47000  47100  46400  47100  15550926
2019-09-17  47000  47100  46800  46900   7006280
2019-09-18  46900  47700  46800  47700  10413027
2019-09-19  48050  49200  47850  49150  16461413
2019-09-20  49400  49600  49100  49200  15460210
2019-09-23  49250  49300  49000  49300   7568553
2019-09-24  49050  49650  48850  49500   7871955
2019-09-25  49200  49350  48800  48900   9187141
2019-09-26  49000  49250  48900  49200   8494756
2019-09-27  48000  48700  48000  48400   8048041
2019-09-30  48050  49250  47900  49050   9497119
2019-10-01  48900  49100  48650  48850   6206035
2019-10-02  48350  48400  47600  47600   8382463
2019-10-04  47400  48650  47350  48000   9331695
2019-10-07  48350  48700  47650  47750   7047273
2019-10-08  47900  49000  47600  48900  14239367

## Yahoo Finance Data

    yahoo - retrieve daily stock prices (high, open, close, volu,e and adjusted close)

    yahoo-actions - retrieve historical corporate actions (dividends and stock splits)

    yahoo-dividends - retrieve historical dividends

In [35]:
df = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')

In [36]:
df

                 High        Low       Open      Close     Volume  Adj Close
Date
2019-09-09  72.400002  69.839996  70.000000  71.680000  6245063.0  70.888992
2019-09-10  74.160004  71.199997  71.279999  73.120003  7827150.0  72.313080
2019-09-11  74.879997  72.480003  73.199997  74.879997  7136863.0  74.053665
2019-09-12  76.160004  73.760002  75.199997  74.080002  8514388.0  73.262497
2019-09-13  75.599998  73.120003  74.480003  74.720001  5698675.0  73.975311
2019-09-16  75.360001  73.360001  74.400002  75.040001  5718550.0  74.292145
2019-09-17  75.120003  74.000000  74.400002  74.879997  4744250.0  74.133713
2019-09-18  75.120003  73.440002  74.480003  75.040001  5033838.0  74.292145
2019-09-19  76.000000  74.720001  74.800003  75.360001  4241913.0  74.608948
2019-09-20  76.320000  74.720001  75.680000  74.959999  7191300.0  74.212929
2019-09-23  75.120003  73.599998  73.760002  74.720001  4188888.0  73.975311
2019-09-24  74.800003  71.680000  74.480003  71.760002  6667875.0  71.044830
2019-09-25  73.599998  71.519997  71.680000  73.279999  5482425.0  72.549683
2019-09-26  73.680000  71.680000  73.440002  72.160004  4653725.0  71.440842
2019-09-27  73.360001  71.919998  72.320000  72.320000  3813875.0  71.599236
2019-09-30  72.800003  71.519997  72.639999  71.519997  4386425.0  70.807213
2019-10-01  72.320000  68.080002  71.680000  68.879997  8597325.0  68.193527
2019-10-02  68.959999  67.279999  68.480003  68.080002  5940100.0  67.401489
2019-10-03  69.680000  66.000000  68.000000  69.680000  7328325.0  68.985558
2019-10-04  69.599998  68.320000  68.879997  68.559998  6534100.0  67.876709
2019-10-07  69.199997  67.839996  68.400002  68.480003  4021300.0  67.797508
2019-10-08  68.000000  66.160004  67.839996  66.239998  5687800.0  65.579834
2019-10-09  66.959999  65.919998  66.480003  66.800003  4105100.0  66.134254