In [1]:
"""
In this notebook we'll explore various options we have to collect stock data
"""

"\nIn this notebook we'll explore various options we have to collect stock data\n"

### Getting data from yahoo finance

In [2]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
from datetime import datetime

#### To get the data of a single stock from yahoo

In [3]:
start = datetime(2010,1,1)
end = datetime(2020,12,31)

# let's get data for a single stock, for eg. RELIANCE
# On yahoo the ticker symbol is "RELIANCE.NS"

df = web.DataReader("RELIANCE.NS", 'yahoo', start, end)
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,540.427307,506.127411,540.427307,532.700500,35372156.0,485.824005
2010-01-05,569.551208,527.697937,569.551208,530.323059,9872785.0,483.655701
2010-01-06,542.111328,530.298279,534.879883,538.891846,10933743.0,491.470398
2010-01-07,552.265076,533.938782,538.891846,547.832092,12090336.0,499.623901
2010-01-08,551.670715,542.854309,548.797974,546.395691,6973331.0,498.313904

#### To get the data of multiple stocks from yahoo at a single time

In [6]:
stocks = ['^NSEI','^NSEBANK','RELIANCE.NS', 'SBIN.NS'] #make sure the name matches the ticker symbol on the yahoo finance site
start = datetime(2010,1,1)
end = datetime(2020,12,31)

df = web.DataReader(stocks, 'yahoo', start, end)
df.head()

Attributes    Adj Close                                             Close  \
Symbols           ^NSEI     ^NSEBANK RELIANCE.NS     SBIN.NS        ^NSEI
Date
2010-01-04  5232.200195  9112.349609  485.824005  204.504608  5232.200195
2010-01-05  5277.899902  9192.150391  483.655701  204.580460  5277.899902
2010-01-06  5281.799805  9223.000000  491.470398  205.807755  5281.799805
2010-01-07  5263.100098  9192.950195  499.623901  204.656342  5263.100098
2010-01-08  5244.750000  9160.700195  498.313904  204.044922  5244.750000

Attributes                                              High               \
Symbols        ^NSEBANK RELIANCE.NS     SBIN.NS        ^NSEI     ^NSEBANK
Date
2010-01-04  9112.349609  532.700500  229.119995  5238.450195  9129.450195
2010-01-05  9192.150391  530.323059  229.205002  5288.350098  9214.000000
2010-01-06  9223.000000  538.891846  230.580002  5310.850098  9265.549805
2010-01-07  9192.950195  547.832092  229.289993  5302.549805  9261.849609
2010-01-08  9160.700195  546.395691  228.604996  5276.750000  9214.349609

Attributes  ...         Low                     Open                           \
Symbols     ... RELIANCE.NS     SBIN.NS        ^NSEI     ^NSEBANK RELIANCE.NS
Date        ...
2010-01-04  ...  506.127411  227.500000  5200.899902  9031.900391  540.427307
2010-01-05  ...  527.697937  228.009995  5277.149902  9191.250000  569.551208
2010-01-06  ...  530.298279  228.500000  5278.149902  9243.900391  534.879883
2010-01-07  ...  533.938782  228.110001  5281.799805  9240.250000  538.891846
2010-01-08  ...  542.854309  228.009995  5264.250000  9185.049805  548.797974

Attributes             Volume
Symbols        SBIN.NS  ^NSEI ^NSEBANK RELIANCE.NS     SBIN.NS
Date
2010-01-04  227.500000    0.0      0.0  35372156.0  11031470.0
2010-01-05  230.800003    0.0      0.0   9872785.0  11613740.0
2010-01-06  229.699997    0.0      0.0  10933743.0  14527930.0
2010-01-07  230.600006    0.0      0.0  12090336.0   8576510.0
2010-01-08  229.399994    0.0      0.0   6973331.0  10453820.0

[5 rows x 24 columns]